# Проверка статистических гипотез

## Задание 1: Опрос населения

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
import seaborn as sns

Вы работаете аналитиком в журнале и получили следующую информацию: "Простая случайная выборка из 1028 взрослых показывает, что 55% поддерживают уменьшение ядерных арсеналов." 
Перед тем, как печатать в журнале, что большинство поддерживает сокращение ядерных вооружений, вы хотите проверить, предоставляют ли данные убедительное свидетельство того, что это так, на уровне значимости 5%. Какая у вас основная и какая альтернативная гипотеза? Используйте Р-значение для теста.

In [4]:
n=1028
p=0.55
#H_0: мнение равномерно разделено
#H_1: большенство поддерживают уменшение ядерных арсеналов

In [2]:
#Тест с помощью доверительных интервалов
n*p

565.4000000000001

In [3]:
n*(1-p)

462.59999999999997

In [6]:
np.sqrt(p*(1-p)/n) #отклонение

0.01551640276816161

In [9]:
1.96*np.sqrt(p*(1-p)/n) #уровнь значимости 5%

0.030412149425596755

In [13]:
(0.55-0.030412149425596755,0.55+0.030412149425596755)

(0.5195878505744033, 0.5804121494255968)

In [12]:
#Основная гипотеза не неправдоподобная

In [14]:
#Р-значение
p=0.5 #гипотеза H0 правда

In [7]:
s=np.sqrt(p*(1-p)/n)

In [8]:
#Вероятность получить другое значение, если H0 правда
p=2*(1-stats.norm.cdf(0.55,0.5,s))

In [9]:
p #<0.01, мы опровергаем основную гипотез H0

0.0012712314047778062

## Задание 2: Курение

Набор данных под названием **ncbirths** представляет собой случайную выборку матерей и их новорожденных в Северной Каролине. Нас особенно интересуют две переменные: *weight* и *habit*. Переменная 'weight' представляет собой вес новорожденных, а переменная 'habit' описывает, какие матери курили во время беременности. Мы хотели бы знать, есть ли убедительные доказательства того, что новорожденные от курящих матерей имеют другой средний вес при рождении, чем новорожденные от матерей, которые не курят? Мы будем использовать
пример Северной Каролины, чтобы попытаться ответить на этот вопрос.

    1. Введите данные с помощью Пандас.
    2. Установите соответствующие гипотезы, чтобы оценить, существует ли связь между курением матери и средней  массой тела при рождении.
    3. Оцените нужные переменные как среднии значения и дисперсии выборок для курящих/некурящих.
    4. Проверьте ваши гипотезы с помощью Wald теста, нас интересует уровень значимости 5%.

In [139]:
data=pd.read_csv("ncbirths.csv")
data.head()

,fage,mage,mature,weeks,premie,visits,marital,gained,weight,lowbirthweight,gender,habit,whitemom
0,NaN,13,younger mom,39.0,full term,10.0,not married,38.0,7.63,not low,male,nonsmoker,not white
1,NaN,14,younger mom,42.0,full term,15.0,not married,20.0,7.88,not low,male,nonsmoker,not white
2,19.0,15,younger mom,37.0,full term,11.0,not married,38.0,6.63,not low,female,nonsmoker,white
3,21.0,15,younger mom,41.0,full term,6.0,not married,34.0,8.00,not low,male,nonsmoker,white
4,NaN,15,younger mom,39.0,full term,9.0,not married,27.0,6.38,not low,female,nonsmoker,not white

In [99]:
#H_0: зависимости нет между курением матери и средней массой тела при рождении
#H_1: зависимсть есть

In [140]:
mean=data['weight'].mean()
mean

7.101000000000028

In [141]:
сount_non=len(data[data['habit']=='nonsmoker'])
сount_non

873

In [142]:
count_smok=len(data[data['habit']=='smoker'])
count_smok

126

In [143]:
data_non=data[data['habit']=='nonsmoker']
data_non.head()
#data_non.count()

,fage,mage,mature,weeks,premie,visits,marital,gained,weight,lowbirthweight,gender,habit,whitemom
0,NaN,13,younger mom,39.0,full term,10.0,not married,38.0,7.63,not low,male,nonsmoker,not white
1,NaN,14,younger mom,42.0,full term,15.0,not married,20.0,7.88,not low,male,nonsmoker,not white
2,19.0,15,younger mom,37.0,full term,11.0,not married,38.0,6.63,not low,female,nonsmoker,white
3,21.0,15,younger mom,41.0,full term,6.0,not married,34.0,8.00,not low,male,nonsmoker,white
4,NaN,15,younger mom,39.0,full term,9.0,not married,27.0,6.38,not low,female,nonsmoker,not white

In [144]:
data_smok=data[data['habit']=='smoker']
data_smok.head()
#data_smok.count()

,fage,mage,mature,weeks,premie,visits,marital,gained,weight,lowbirthweight,gender,habit,whitemom
14,21.0,16,younger mom,38.0,full term,15.0,not married,75.0,7.56,not low,female,smoker,white
15,NaN,16,younger mom,40.0,full term,7.0,not married,35.0,6.88,not low,male,smoker,white
16,14.0,16,younger mom,40.0,full term,12.0,not married,9.0,5.81,not low,female,smoker,white
30,NaN,17,younger mom,42.0,full term,8.0,not married,72.0,7.44,not low,male,smoker,white
65,24.0,18,younger mom,40.0,full term,14.0,married,47.0,7.06,not low,female,smoker,white

In [145]:
mean_non=data_non['weight'].mean()
mean_non

7.144272623138631

In [146]:
mean_smok=data_smok['weight'].mean()
mean_smok

6.828730158730158

In [147]:
s=np.sqrt(data_non['weight'].var()/сount_non+data_smok['weight'].var()/count_smok)
s

0.13376049190705974

In [148]:
d=mean_non-mean_smok
d

0.3155424644084732

In [165]:
W=d/np.sqrt(data_non['weight'].var()/сount_non+data_smok['weight'].var()/count_smok)
W

-3.3278397025430406

In [166]:
p=2*stats.norm.cdf(-np.abs(W))

In [167]:
p #з рівнем значущості 5%, гіпотеза H0 може бути відхилена

0.0008752221073140895

## Задание 3: Станок на производстве

Вы работаете аналитиком на фабрике и к вам пришел начальник цеха по производству деталей и просит вас помочь найти причину, почему одна из двух автоматических машин производит больше брака. Его коллеги собрали данные с обоих машин во время производства 50 деталей. Эти данные находятся в файле 'Machine_example.csv'. Переменная 'Machine' говорит, какой из двух машин принадлежат данные. Другие переменные соответствуют разным параметрам машин при производстве деталей. Что вы ответите начальнику цеха?

In [5]:
data=pd.read_csv("Machine_example.csv")
data.drop(data.columns[0],inplace=True,axis=1)
data.head()

,Machine,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
0,Machine_1,0.623109,0.684335,7.914026,3.337340,0.302885,126.279441,4.098384,15.673653,53.076597,97.775208
1,Machine_1,3.967669,0.675796,12.569927,3.004854,0.303522,116.149786,3.820179,19.535909,42.421251,83.871174
2,Machine_1,1.636526,0.712062,9.115165,3.018322,0.299979,127.675531,3.896752,24.544040,44.100223,66.432834
3,Machine_1,1.985883,0.760357,8.196033,2.725621,0.300013,132.984342,3.554923,15.498113,39.543432,83.055755
4,Machine_1,3.204048,0.721569,8.657109,3.014473,0.294855,119.097573,4.092213,21.657736,46.008386,93.063520

In [6]:
#проверка на корреляцию парамеров
x = data[["Param_1","Param_2", "Param_3","Param_4","Param_5","Param_6","Param_7","Param_8","Param_9","Param_10"]]
x.corr()

,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
Param_1,1.000000,0.009111,-0.121410,0.030232,0.061787,-0.047222,-0.091971,0.052063,0.037588,0.059669
Param_2,0.009111,1.000000,-0.111060,-0.030045,-0.019284,0.061108,-0.041292,0.041967,-0.018727,-0.017317
Param_3,-0.121410,-0.111060,1.000000,0.085553,-0.060653,-0.156778,-0.015672,0.059166,-0.103035,0.111491
Param_4,0.030232,-0.030045,0.085553,1.000000,-0.211793,-0.082777,-0.116832,0.143691,0.012295,0.037898
Param_5,0.061787,-0.019284,-0.060653,-0.211793,1.000000,0.000978,-0.092448,0.029818,0.203813,-0.020426
Param_6,-0.047222,0.061108,-0.156778,-0.082777,0.000978,1.000000,-0.020820,0.099783,0.115985,-0.081201
Param_7,-0.091971,-0.041292,-0.015672,-0.116832,-0.092448,-0.020820,1.000000,0.073752,-0.164779,-0.183608
Param_8,0.052063,0.041967,0.059166,0.143691,0.029818,0.099783,0.073752,1.000000,0.120998,-0.104746
Param_9,0.037588,-0.018727,-0.103035,0.012295,0.203813,0.115985,-0.164779,0.120998,1.000000,0.141708
Param_10,0.059669,-0.017317,0.111491,0.037898,-0.020426,-0.081201,-0.183608,-0.104746,0.141708,1.000000

In [7]:
data['Machine'].count()

100

In [8]:
data1=data[data['Machine']=='Machine_1']
data1.head()

,Machine,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
0,Machine_1,0.623109,0.684335,7.914026,3.337340,0.302885,126.279441,4.098384,15.673653,53.076597,97.775208
1,Machine_1,3.967669,0.675796,12.569927,3.004854,0.303522,116.149786,3.820179,19.535909,42.421251,83.871174
2,Machine_1,1.636526,0.712062,9.115165,3.018322,0.299979,127.675531,3.896752,24.544040,44.100223,66.432834
3,Machine_1,1.985883,0.760357,8.196033,2.725621,0.300013,132.984342,3.554923,15.498113,39.543432,83.055755
4,Machine_1,3.204048,0.721569,8.657109,3.014473,0.294855,119.097573,4.092213,21.657736,46.008386,93.063520

In [9]:
data2=data[data['Machine']=='Machine_2']
data2.head()

,Machine,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
50,Machine_2,2.150801,0.725796,12.620588,3.426446,0.299422,150.040925,4.133623,22.782521,53.407877,77.608490
51,Machine_2,3.571953,0.701840,5.407410,2.972669,0.302925,121.647895,3.297148,24.344477,43.752287,72.497033
52,Machine_2,4.130415,0.735178,13.761959,3.176571,0.303078,135.253020,3.828430,24.510991,45.165695,84.946909
53,Machine_2,4.059328,0.682629,10.875329,3.034735,0.302063,118.706604,3.612618,22.723635,49.561084,110.068311
54,Machine_2,2.792825,0.727061,9.959154,2.685683,0.296529,149.132172,4.332814,22.244308,40.997487,98.367357

In [10]:
data1.describe()

,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,2.577627,0.701518,10.082987,3.035849,0.299367,121.384048,3.962276,19.594937,46.311913,85.853653
std,1.025124,0.020901,1.960505,0.259479,0.002833,14.789750,0.461060,3.737980,6.920223,9.301349
min,0.158984,0.666373,5.442064,2.391265,0.293767,94.874117,2.933010,10.330191,33.486319,63.214579
25%,1.873458,0.684840,8.674307,2.888223,0.297056,112.601593,3.565380,17.328793,40.404852,79.952772
50%,2.624579,0.700563,10.242010,3.059733,0.299740,119.577106,3.968208,19.442969,45.841395,85.003152
75%,3.234496,0.713017,11.299089,3.174096,0.301197,129.146710,4.256283,22.045634,51.823766,93.648453
max,4.720298,0.760357,13.808204,3.602496,0.306403,164.100755,4.951977,26.800399,59.901118,111.074631

In [11]:
data2.describe()

,Param_1,Param_2,Param_3,Param_4,Param_5,Param_6,Param_7,Param_8,Param_9,Param_10
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,3.022760,0.697141,10.280759,2.976125,0.300223,119.466655,3.986066,20.564386,46.111092,84.082408
std,0.914272,0.021114,1.826545,0.302270,0.003065,14.931612,0.461178,3.570108,7.160670,9.677133
min,1.344049,0.656771,5.407410,2.312959,0.293191,86.606375,3.171870,13.137744,28.693738,62.930868
25%,2.291585,0.679971,9.194188,2.774569,0.298095,108.187102,3.703797,17.780155,42.084684,78.522835
50%,3.069359,0.696831,10.253631,2.958667,0.300229,120.724182,3.895572,20.019402,45.244673,84.717965
75%,3.565653,0.711121,11.404921,3.183193,0.302497,127.707072,4.215006,22.778079,51.316826,88.121073
max,5.120438,0.739001,14.342086,3.631902,0.306635,154.365911,5.141987,30.410050,60.449195,110.068311

In [12]:
mean_m1=[data1['Param_1'].mean(),data1['Param_2'].mean(),data1['Param_3'].mean(),data1['Param_4'].mean(),data1['Param_5'].mean(),data1['Param_6'].mean(),
        data1['Param_7'].mean(),data1['Param_8'].mean(),data1['Param_9'].mean(),data1['Param_10'].mean()]
mean_m1

[2.5776265308,
 0.7015179661618389,
 10.082987163771666,
 3.035848961296233,
 0.2993668727609892,
 121.3840484007926,
 3.962275774990782,
 19.594936529828345,
 46.31191331533941,
 85.85365254338645]

In [13]:
mean_m2=[data2['Param_1'].mean(),data2['Param_2'].mean(),data2['Param_3'].mean(),data2['Param_4'].mean(),data2['Param_5'].mean(),data2['Param_6'].mean(),
        data2['Param_7'].mean(),data2['Param_8'].mean(),data2['Param_9'].mean(),data2['Param_10'].mean()]
mean_m2

[3.0227600064000004,
 0.6971411171138481,
 10.280759254909484,
 2.9761254082993536,
 0.30022257195315344,
 119.46665478514947,
 3.9860656093194216,
 20.564386021877713,
 46.111091861074364,
 84.08240790402408]

In [14]:
var_m1=[data1['Param_1'].var(),data1['Param_2'].var(),data1['Param_3'].var(),data1['Param_4'].var(),data1['Param_5'].var(),data1['Param_6'].var(),
        data1['Param_7'].var(),data1['Param_8'].var(),data1['Param_9'].var(),data1['Param_10'].var()]
var_m1

[1.0508791720319448,
 0.0004368705877603518,
 3.843580230226786,
 0.0673294672071261,
 8.0237511760025e-06,
 218.73670294717596,
 0.21257640572741912,
 13.972498093565505,
 47.889487218238365,
 86.51510050568184]

In [15]:
var_m2=[data2['Param_1'].var(),data2['Param_2'].var(),data2['Param_3'].var(),data2['Param_4'].var(),data2['Param_5'].var(),data2['Param_6'].var(),
        data2['Param_7'].var(),data2['Param_8'].var(),data2['Param_9'].var(),data2['Param_10'].var()]
var_m2

[0.8358924629493268,
 0.0004458076398984698,
 3.336267685215176,
 0.09136689967634025,
 9.393427990564297e-06,
 222.95303277389155,
 0.212685284837342,
 12.745674580675995,
 51.275193005721974,
 93.64690280434354]

In [16]:
#Hoi:немає різниці у середніх значеннях
#Hi:існує різниця у середніх значеннях

#Припускаємо, що H0 це правдива гіпотеза, тоді вірогідність іншої розраховано нижче, для кожного параметру

In [32]:
d1 = mean_m1[0] - mean_m2[0]
W1=d1/np.sqrt(var_m1[0]/50+var_m2[0]/50)
p1=2*stats.norm.cdf(-np.abs(W1))
p1

0.021935814308023948

In [20]:
d2 = mean_m1[1] - mean_m2[1]
W2=d2/np.sqrt(var_m1[1]/50+var_m2[1]/50)
p2=2*stats.norm.cdf(-np.abs(W2))
p2

0.2975477861196233

In [21]:
d3 = mean_m1[2] - mean_m2[2]
W3=d3/np.sqrt(var_m1[2]/50+var_m2[2]/50)
p3=2*stats.norm.cdf(-np.abs(W3))
p3

0.6017357006140999

In [22]:
d4 = mean_m1[3] - mean_m2[3]
W4=d4/np.sqrt(var_m1[3]/50+var_m2[3]/50)
p4=2*stats.norm.cdf(-np.abs(W4))
p4

0.28909876160096937

In [23]:
d5 = mean_m1[4] - mean_m2[4]
W5=d5/np.sqrt(var_m1[4]/50+var_m2[4]/50)
p5=2*stats.norm.cdf(-np.abs(W5))
p5

0.14710580806272044

In [24]:
d6 = mean_m1[5] - mean_m2[5]
W6=d6/np.sqrt(var_m1[5]/50+var_m2[5]/50)
p6=2*stats.norm.cdf(-np.abs(W6))
p6

0.5188521965600238

In [25]:
d7 = mean_m1[6] - mean_m2[6]
W7=d7/np.sqrt(var_m1[6]/50+var_m2[6]/50)
p7=2*stats.norm.cdf(-np.abs(W7))
p7

0.7964396479605329

In [26]:
d8 = mean_m1[7] - mean_m2[7]
W8=d8/np.sqrt(var_m1[7]/50+var_m2[7]/50)
p8=2*stats.norm.cdf(-np.abs(W8))
p8

0.1847756942292852

In [27]:
d9 = mean_m1[8] - mean_m2[8]
W9=d9/np.sqrt(var_m1[8]/50+var_m2[8]/50)
p9=2*stats.norm.cdf(-np.abs(W9))
p9

0.8866068556398041

In [28]:
d10 = mean_m1[9] - mean_m2[9]
W10=d10/np.sqrt(var_m1[9]/50+var_m2[9]/50)
p10=2*stats.norm.cdf(-np.abs(W10))
p10

0.3507641679575966

In [33]:
p={'p1':p1,'p2':p2,'p3':p3,'p4':p4,'p5':p5,'p6':p6,'p7':p7,'p8':p8,'p9':p9,'p10':p10}
p #причина поломки, точно не перший параметр

{'p1': 0.021935814308023948,
 'p2': 0.2975477861196233,
 'p3': 0.6017357006140999,
 'p4': 0.28909876160096937,
 'p5': 0.14710580806272044,
 'p6': 0.5188521965600238,
 'p7': 0.7964396479605329,
 'p8': 0.1847756942292852,
 'p9': 0.8866068556398041,
 'p10': 0.3507641679575966}

In [34]:
{k: v for k, v in sorted(p.items(), key=lambda item: item[1])} #сортування

{'p1': 0.021935814308023948,
 'p5': 0.14710580806272044,
 'p8': 0.1847756942292852,
 'p4': 0.28909876160096937,
 'p2': 0.2975477861196233,
 'p10': 0.3507641679575966,
 'p6': 0.5188521965600238,
 'p3': 0.6017357006140999,
 'p7': 0.7964396479605329,
 'p9': 0.8866068556398041}

In [60]:
t={1:0.005, 2:0.01, 3:0.015, 4:0.02, 5:0.025,6:0.03, 7:0.035, 8:0.04, 9:0.045, 10:0.05} #Поправка Бенджамини — Хохберга 
t

{1: 0.005,
 2: 0.01,
 3: 0.015,
 4: 0.02,
 5: 0.025,
 6: 0.03,
 7: 0.035,
 8: 0.04,
 9: 0.045,
 10: 0.05}

In [ ]:
#Відповідь: при порівнянні елементів з p та t, всі елементи p>t. 
#Гіпотези Hi відхидяються, представлені параметри не відрізняються,машина працює справно або потрібні інші параметри.

## Задание 4: Будь осторожен

Создаем случайные данные из распределения Гаусса:

In [139]:
dat1 = stats.norm.rvs(loc=5,scale=1,size=50)

А теперь мы создадим случайные выборки из этого же распределения, пока разница их средних значений не будет больше 0.6

In [140]:
meandiff = 0

In [141]:
n=0

In [142]:
while (meandiff<0.6):
    dat2= stats.norm.rvs(loc=5,scale=1,size=50)
    meandiff = np.abs(dat1.mean()-dat2.mean())
    n=n+1

Какой размер n в вашем случае? Чтобы вы решили, если бы вы получили эти данные и провели проверку гипотез о том, выходят ли они из распределения с одинаковым ожиданием? Что вам это вместе с размером n говорит о надежности проверки гипотез?

In [143]:
meandiff

0.6173630908798824

In [144]:
n

5848

In [145]:
dat2.mean()

5.535418419196427

In [146]:
dat1.mean()

4.9180553283165445

In [147]:
#H_0: мат ожидание одинаковое
#H_1: мат ожидание разное

-0.6173630908798824

In [152]:
W=meandiff/np.sqrt(dat1.var()/50+dat2.var()/n)
W

4.045234347806566

In [153]:
p=2*(1-stats.norm.cdf(W,0,1))

In [154]:
p #по мат сподівання рівні
#чим більше значення n другої вибірки, тим його результат прямує до нуля і вся сума це результат першого доданку.

5.22708090839874e-05